<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.java.lojaonlineappmaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.EntrarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PedidoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ScannerQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CarrinhoVerificarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CarrinhoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProdutoInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CategoriaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EsqueceuSenhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegistrarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UsuarioPerfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TelaDeAberturaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>